body
{
	background: rgb(231, 29, 39);
}

	.login_div1 , .login_div2
	{
		background: rgb(250, 249, 249);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(253, 252, 252);
border-radius: 10px;
border-top: 10px solid #faf8f9;
padding: 10px;
float: none;
text-align: left;
}
